<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qoobico.remindme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.qoobico.remindme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.qoobico.remindme.permission.C2D_MESSAGE" />

    GCM Permissions - End here
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/flight_icon"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.LogInActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".activity.ChatRoomsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

        </activity>
        <activity android:name=".activity.AnalyticsActivity"
            android:parentActivityName=".activity.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChatRoomActivity"
            android:parentActivityName=".activity.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ViewContactActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- Register Broadcast receiver -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />


                <category android:name="com.qoobico.remindme" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>




        <!-- Register Service -->

    </application>

</manifest>
